.card {
  min-height: 10rem;
  max-width: 24rem;
  margin: 1rem;

  &__test {
    width: 24rem;
  }
}

.form-control-validator {
  color: red;

  &__hidden {
    display: none
  }
}

.form-input {
  min-width: 18rem;
  margin-bottom: 1rem;
}

.form-input-invalid.form-control {
  border: 1px solid red;
}

.form-button {
  margin-right: 0.4rem;
}
