.card {
  min-height: 10rem;
  max-width: 24rem;
  margin: 1rem;

  &__test {
    width: 24rem;
  }
}

.form-input {
  min-width: 18rem;
  margin-bottom: 1rem;
}

.form-button {
  margin-right: 0.4rem;
}
