.card {
  min-height: 10rem;
  max-width: 24rem;
  margin: 1rem;

  &__test {
    width: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;

    div {
      flex: 1;
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &__subtitle {
    font-size: bold;
    font-weight: 300;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      margin-top: auto;
      margin-bottom: 0;
      font-size: small;
      font-weight: 100;
      font-style: italic;
    }
  }
}

.form-control-validator {
  color: red;

  &__hidden {
    display: none
  }
}

.form-input {
  min-width: 18rem;
  margin-bottom: 1rem;
}

.form-input-invalid.form-control {
  border: 1px solid red;
}

.form-button {
  margin: 0.4rem;
  max-width: 7rem;
}

.feedback {
  font-weight: 600;
  margin: 0.4rem 0;

  &__correct {
    color: green;
  }

  &__wrong {
    color: red;
  }
}

.corrections-title {
  font-weight: 600;
  color: black;
}

.corrections-verse {
  margin: 0.4rem, 0
}


@media screen and (max-width: 420px) {
  .card-body {
    min-width: 309px;
  }

  .form-input {
    min-width: 14rem;
    max-width: 25rem;
  }
}