.page-layout {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #C6C6C6;
}

.page-body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5rem 2rem 2rem 2rem;
}

@media screen and (max-width: 420px) {
    .page-body{
        margin: 5rem 1rem 1rem 1rem;
    }
  }