.page-layout {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #C6C6C6;
}

.page-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: bold;
    margin: 5rem 2rem 2rem 2rem;

  // Ensure cards don't stretch
    > * {
      align-self: flex-start;
    }
}

@media screen and (max-width: 420px) {
    .page-body {
        margin: 5rem 1rem 1rem 1rem;
  }
}
